[2020-01-05 02:49] Rudd-O commented on #146
RattlesnakeOS-stack works fine here at home when running modified under Jenkins.  My net connection isn't quite spotty, but it isn't datacenter quality, and I sure cannot get `repo sync` to fail or end up with incomplete syncs.

[2020-01-05 03:01] ubergeek77 commented on #146
Exactly - that was my experience too. RattlesnakeOS-stack's build script has been perfectly stable for me, even after being amputated to remove anything too AWS specific, and to allow it to run locally.

But I can't say the same about [aosp-build](https://github.com/hashbang/aosp-build), which Dan might migrate to at some point. My issue was that I can't get aosp-build to behave, because it seems

[2020-01-09 15:05] BinoopV-Contus opened #147 "Custom Script for boot animation not working and option to change default screenlock wallpaper"
### Prerequisites

* [x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [x] I am able to reproduce this issue without any advanced customization options

### Description
Custom script executed for the boot animation is throwing error and and build gets failed.

### Full Config Used for Setup
attestation-instance-type = "t3.nano"
at

[2020-01-09 19:06] dan-v commented on #147
Yeah, this was working on 9.0 but is not in 10.0. The `core.mk` file doesn't exist anymore (https://android.googlesource.com/platform/build/+/refs/tags/android-10.0.0_r21/target/product/). I just [committed a change](https://github.com/RattlesnakeOS/example_patch_shellscript/commit/043e453d73472cbb7cceee51d02566445ed4adf0) to use the same file as build script (`handheld_system.mk`), but don't have

[2020-01-09 19:06] #147 closed

[2020-01-11 13:49] BinoopV-Contus commented on #147
@dan-v : It works well. If possible could you guide me how to change the default wallpaper of rattlesnake OS. I referred several but unable to find a solution on how to implement it

[2020-01-12 02:41] dan-v commented on #147
@BinoopV-Contus - unfortunately I don't have time to help with that. The high level approach could be done with a script and would download your wallpaper and overwrite the existing one (default_wallpaper.png) that lives in https://android.googlesource.com/platform/frameworks/base/.

[2020-01-22 06:23] dan-v commented on #86
@ubergeek77 - I played around with the AMI approach discussed above a few days ago. The results aren't as promising as I was hoping for unfortunately:
* Baseline: source tree sync from scratch took `14 minutes`.
* Syncing to a new branch with AOSP source tree pre-download in AMI:
  * With the default gp2 volume, the performance was MUCH worse than just syncing the source tree from scratch. It appe

[2020-01-22 06:27] dan-v commented on #146
@ubergeek77 - sorry I haven't had a chance to play around with aosp-build recently, but will let you know when I do. Thanks for taking a first look at it and for documenting some issues to investigate.

[2020-01-22 06:54] ubergeek77 commented on #146
@dan-v It's my pleasure!

I did end up getting it going, but I gave up on trying a normal repo sync and just made a local AOSP mirror on my NAS instead. This is a better long-term solution for me in general, and it makes sense to have, with or without RattlesnakeOS, since I find myself creating builds so frequently. A full, default AOSP mirror is a surprisingly tame 380GB, and I could probably kno

[2020-01-22 07:08] ubergeek77 commented on #86
Interesting findings. I hadn't considered EBS volume performance being a bottleneck here (I've actually never encountered a situation like this until now), so that's a shame, but it makes sense.

As an alternative, my knee-jerk reaction is to suggest a similar AMI, but with artifacts from `${BUILD_DIR}/out`. But then you run into the problems of:
- How can users trust these precompiled artifacts a

[2020-01-22 21:56] svcraig opened #148 "get_latest_versions() doesn't return latest F-Droid Privileged Extension version"
### Prerequisites

* [ X] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [ X] I am able to reproduce this issue without any advanced customization options

### Description

FDROID_PRIV_EXT_VERSION is continually set to 0.2.9 in the get_latest_versions function of the build script despite 0.2.11 being the latest non-alpha, non-OTA v

[2020-01-23 06:24] dan-v commented on #148
Thanks for the report @svcraig! I was aware of this issue, but didn't put in a separate bug for it. I was hoping to fix it at the same time as #142, but even on the latest f-droid versions I'm still seeing issues with privileged extension installs.

btw, this was the version of the fix I came up with (haven't pushed commit yet); it would be good to have another person look at it for validation tho

[2020-01-23 16:55] svcraig commented on #148
@dan-v that fixes it! I too am having issues with the priv extension,  which is what got me digging down this rabbit hole. The trouble is I'm brand new to F-Droid so I'm not familiar with the expected behaviours. The extension seems to be correctly signed but I still see an error in logcat about being unable to set the installer package due to the caller's signature not matching

edit: fixed an au

[2020-01-24 06:52] dan-v commented on #148
@svcraig - there's an ongoing thread here for the issue: https://gitlab.com/fdroid/privileged-extension/issues/47#note_276186017. @chirayudesai has committed a number of fixes around this related to permission issues already and he has tracked down one more issue the other day. so hopefully once that gets merged and lands in a release, the privileged extension will be working as intended again.

[2020-01-27 04:23] svcraig commented on #148
@dan-v thanks for linking me with that issue. I _think_ the latest commit fixes the issue for me, but I had to revert some other commits to make sure, which leads to another question:

How do you want to handle bug reports for community patches, as they're beyond the scope of your code? [Patch 1](https://github.com/RattlesnakeOS/community_patches/blob/10.0/00001-global-internet-permission-toggle.p

[2020-01-29 09:51] BinoopV-Contus opened #150 "Make F-Droid optional"
I am trying to remove the Froid from the Rattlesnake OS build, How is it possible to achieve it when building the OS

[2020-01-30 16:24] laamalif opened #151 "Initial build failed due to: chrome/common/buildflags.h' file not found"
### Prerequisites

* [x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [x] I am able to reproduce this issue without any advanced customization options

### Description

Initial build failed due to: chrome/common/buildflags.h' file not found

Tested chromium versions: 81.0.4040.6, 80.0.3971.4, 80.0.3987.78

### Steps to Reproduce

[2020-01-31 04:27] dan-v commented on #151
Thanks for the report @laamalif. I haven't attempted a Chromium build in a few weeks, but will kick something off and try to debug. I was previously able to build and am running '81.0.4027.2' if you want to give that a shot in the mean time.

[2020-01-31 07:08] dan-v commented on #151
I was unfortunately not able to reproduce this issue, my latest build with Chromium `81.0.4040.6` went through fine.

[code]
* note: i have one uncommited change to fix pulling in latest f-droid versions, but nothing related to chromium.

[2020-01-31 13:05] pgera commented on #151
I am seeing this with 81.0.4027.2 as well.

[2020-01-31 16:44] dan-v commented on #151
Hmm.. I've had no issues building `81.0.4027.2` or latest `81.0.4040.6`. Normally Chromium build issues like these are easy to reproduce. The only difference between our builds appears to be microg patches, but not sure how that would affect the Chromium build process.

[2020-02-02 11:07] corrmaan commented on #151
I experienced the same error last night with version `81.0.4040.6`, vanilla RattlesnakeOS with a brand new config and deployment. No special changes. Do you think it would work if I changed `CHROME_CHANNEL` to stable?

[2020-02-02-024734-build.log](https://github.com/dan-v/rattlesnakeos-stack/files/4143872/2020-02-02-024734-build.log)

[2020-02-02 11:12] pgera commented on #151
Stable is still on 79, whereas Q needs 80 or newer. Beta is on 80 though. So instead of dev, it may be worth trying beta (and stable in a few days when 80 hits stable).

Edit: It looks like OP already tried 80.x. So not sure anymore.

[2020-02-02 16:53] corrmaan commented on #151
Maybe it has to do with too much build parallelization? I'll try a new build with `--jobs` in Chromium's build hard set to something like 4 or 8 instead of `c5.4xlarge`'s 16 from `nproc`.

[2020-02-02 17:05] dan-v commented on #151
@corrmaan - I was also thinking it could be related to build parallelization, but the original report was on a `c5.18xlarge` which has many more cores. So far I've had 1 successful build on `81.0.4027.2` and 2 successful builds on `81.0.4040.6` all on a `c5.18xlarge` instances. I'll try to kick off a build on a smaller instance type to see if I can reproduce.

[2020-02-02 17:09] corrmaan commented on #151
Sounds good. My comment above was just a guess on how the Chromium build operates - after looking in to it it seems to me like any `--jobs` settings are handled by `autoninja` and wrapped up in some python scripts.

[2020-02-02 17:59] dan-v commented on #151
Could also be related to build caching as well since the webview is being built first and then the browser is being built without cleaning first (this was intended to reduce build time). It would be interesting to see if this could reproduce if:
* the build directory was wiped between the build of webview and browser (this would make the build times very bad)
* the order of build was swapped to br

[2020-02-02 21:11] dan-v commented on #151
Nice, I was able to reproduce this issue with a c5.4xlarge. So the question becomes what to do to fix it. I could:
* disable building/adding chromium browser altogether and only include the webview. i would probably want to keep aosp browser in that case so people on new builds had an initial browser.
* clean between webview and browser build, but this would double build time
* try to get trichrom

[2020-02-03 02:13] dan-v commented on #151
Looks like swapping the build order to first build the browser and then webview was successful on c5.4xlarge. I might do that at least temporarily until I figure out how to properly fix this situation. I'll try to get a new version out soon with that change.

[2020-02-03 02:17] corrmaan commented on #151
Nice, thanks @dan-v.
I was going to say that removing Chromium entirely seems like a step backwards. At least maybe instead just include an option to disable it.
Cleaning between builds seems reasonable enough. Trichrome sounds like a good direction to head in too though. Whatever is easiest!

[2020-02-03 03:32] dan-v commented on #150
Currently there is no easy or clean way to do this, but with a customization script you could remove the fdroid client and privileged extension from being included in the build by doing something like sed on the file where these packages are included (https://github.com/dan-v/rattlesnakeos-stack/blob/10.0/templates/build_template.go#L890). Fdroid client and privileged extension would still be buil

[2020-02-03 06:02] #120 closed

[2020-02-03 06:21] dan-v commented on #151
Pushed a new [release](https://github.com/dan-v/rattlesnakeos-stack/releases) with the ordering workaround - hopefully it holds up for the time being. If someone gets a chance to test it out and could report back that would be a great help.

[2020-02-03 06:29] dan-v commented on #148
Should be resolved in [v10.0.2](https://github.com/dan-v/rattlesnakeos-stack/releases/tag/v10.0.2) Note it is pulling in alpha versions as well for the client for the time being.

@svcraig as for your question on patches, bugs for these patches should go in the community repo but going from 9.0 to 10.0 the patches were mostly not migrated so many were not working. Recently, there has been some gre

[2020-02-03 06:29] #148 closed

[2020-02-03 06:31] dan-v commented on #145
Should be resolved in [v10.0.2 ](https://github.com/dan-v/rattlesnakeos-stack/releases/tag/v10.0.2)

[2020-02-03 06:31] #145 closed

[2020-02-03 09:26] BinoopV-Contus commented on #150
Thank you @dan-v , right now I have achieved by rebuilding the stack by removing the Fdroid build process. Will try out with the customisation script

[2020-02-03 10:10] pgera commented on #151
I can confirm that the build passed. Slight OT, but wanted to check if anyone has this chromium issue. On Q, I have never been able to download files in chromium. For eg., downloading a test pdf file (https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf) throws an "SD card not found" error. I wonder if this is also microg related somehow as that is the only deviation in my build

[2020-02-03 10:48] corrmaan commented on #151
Thanks @dan-v, that worked for me too.
Sorry @pgera but I haven't ran in to that issue before, but maybe I've never tried downloading files on Chromium either.

[2020-02-03 11:28] laamalif commented on #151
Location selection doesnt work on chromium while downloading files. I've also noticed that chromium keep crashing on video playback other than youtube site. maybe codec issue?

[2020-02-04 04:36] dan-v commented on #151
@pgera - I can confirm that there appears to be an issue with that. It seems like it downloads it but it says 'failed to open' and it doesn't appear to be on disk. Not entirely sure what this issue is.

@laamalif - The crash on video playback issue is likely the same as seen here: https://github.com/GrapheneOS/Vanadium/pull/52. It sounds like there is a patch that works around the primary issue, b

[2020-02-05 13:54] laamalif commented on #151
@dan-v  Do you have plan to support patches for Chromium in future? I think having minimal or webview customization will be good option, in the end you still need another browser for day to day task.

Chromium patch support will be nice feature to have in my opinion or at least customization of webview only build.

[2020-02-06 02:33] dan-v commented on #151
@laamalif - i have an enhancement open for it https://github.com/dan-v/rattlesnakeos-stack/issues/104, but I haven't had much time to implement new features lately and have been in maintenance mode for the most part (hopefully that changes in the future as there's a lot i'd like to add/change with this project). Anyways, for now I'm happy to take PRs for enhancements like this.

[2020-02-06 02:43] dan-v opened #152 "Move to Trichrome"
In 9.0, Monochrome was used to provide webview and browser as single APK file. In 10.0, Monochrome is deprecated and replaced with Trichrome. Initially when 10.0 first released there was no viable webview (other than using aosp default webview) and once M80 was released which had webview support for 10.0 there were issues trying to get Trichrome to run. I opted to just build the webview (system_we

[2020-02-06 02:45] dan-v commented on #151
Closing this and opened up an enhancement to move to Trichrome (https://github.com/dan-v/rattlesnakeos-stack/issues/152)

[2020-02-06 02:45] #151 closed

[2020-02-06 03:00] dan-v commented on #144
I'm gonna close this one out. The new updater makes it much more obvious that downloads/errors are happening and also has the option to disable if it were in a constant bad state.

[2020-02-06 03:00] #144 closed

[2020-02-10 17:00] pgera commented on #151
The download failure is being tracked upstream at https://bugs.chromium.org/p/chromium/issues/detail?id=1045642

and downstream at:
https://github.com/GrapheneOS/Vanadium/issues/56
https://github.com/bromite/bromite/issues/485

[2020-02-25 08:07] Rudd-O commented on #146
What method did you use to create the mirror, @ubergeek77 ?  Thanks in
advance.

[2020-02-28 20:34] ubergeek77 commented on #146
@Rudd-O Assuming you already have `repo` installed, you can run this to initialize a new mirror:

`repo init -u https://android.googlesource.com/mirror/manifest`

And then simply `repo sync` while in that directory. You may want to run this about once a month. Sometimes, a few sources don't *always* get picked up (not often, but it can happen), so I like to set it to run in sequence 3 times in a r

[2020-03-10 03:47] pgera opened #153 "Simplify release tracking with a text file"
Currently, the latest release information is fetched from google's release pages, and a couple of regex rules are used to derive the latest release information. This has a couple of issues:

- Regex parsing can be fragile which can lead to unexpected issues such as stale or incorrect version being built.
- In some cases, the regex logic may return a build whose sources have not dropped. I haven't

[2020-03-15 16:35] khimaros opened #154 "Preserve build logs such as /var/log/cloud-init-output.log"
**Is your feature request related to a problem? Please describe.**
When troubleshooting a failed (or unexpectedly successful) build, having access to the cloud-init-output would be tremendously helpful.

**Describe the solution you'd like**
The log should be persisted somewhere. S3 seems like a reasonable place.

**Describe alternatives you've considered**
Streaming the log back to the client. Thi

[2020-03-15 16:41] khimaros commented on #154
Upon inspection of the code, it turns out this is actually exactly what it does! And upon further inspection, I discovered that this is even already documented in the README. Thank you for the thorough work!

[2020-03-15 16:41] #154 closed

[2020-03-20 02:45] khimaros opened #156 "Support building images for legacy devices (eg. sailfish) from newer release branches"
**Is your feature request related to a problem? Please describe.**
sailfish and marlin stopped receiving vendor updates in October of 2019. This means they are no longer receiving security updates and are considered "legacy" by RattlesnakeOS. I'm happy to say that I've encountered no issues running sailfish on an image built from the `android_10.0.0_r30` branch, using vendor files pulled from the

[2020-03-30 07:25] dan-v commented on #156
This change has been pulled in. Closing.

[2020-03-30 07:25] #156 closed

[2020-04-30 17:30] nickrbogdanov opened #158 "Updater shows unwanted notifications for transient failures"
https://github.com/RattlesnakeOS/platform_packages_apps_Updater/commit/45f10ce8c5b851f15f3eb6c9fe031c6d82f34dbe added a notification for failed updates. One of the side effects of this change is that in the middle of the night, when my Comcast internet is down for maintenance, my phone wakes me up to tell me:

[code]

I think the desired behavior is more along the lines of:

 * If a background upd

[2020-04-30 17:39] dan-v commented on #158
@nickrbogdanov - I've also bumped into this when I had spotty cell coverage. I think it would make sense to just not notify/check if there is no internet connectivity. Thoughts?

[2020-05-05 22:45] scott-8 commented on #158
I think that @dan-v's idea is probably the best and the easiest to implement. One thing to note is that the entire update process is wrapped in a try...catch block, and singling out any specific errors would make it more complicated and move the code farther from upstream.

Another easy thing to do would be to remove vibrations from the notification (although I would argue that the notifications a

[2020-05-06 00:23] scott-8 commented on #158
I added [this](https://github.com/scott-8/platform_packages_apps_Updater/commit/46cce29de62ec6470c8d3a973972594f0a073706), assuming `fetchData` is the method that fails.

[2020-05-06 04:21] dan-v commented on #158
thanks @scott-8 - this seems like a relatively simple workaround that won't require deviating too far from upstream. i'd like to do a bit of validation before pulling this in as breaking the updater is never fun.

[2020-05-10 04:04] scott-8 opened #159 "Script fails to get build date"
### Prerequisites

* [x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [x] I am able to reproduce this issue without any advanced customization options

### Description

Can't get latest factory build date.

### Steps to Reproduce

Build AOSP.

**Expected behavior:** It to build.

**Actual behavior:** It doesn't build.

### Platfo

[2020-05-10 04:05] scott-8 commented on #159
It looks like Google the "Acknowledge" box to https://developers.google.com/android/images, so parsing the page fails.

[2020-05-10 04:26] scott-8 commented on #159
Ok I added `--cookie "devsite_wall_acks=nexus-image-tos"` to lines 193 and 201 in the script and the build started successfully (I'll update this tomorrow once it's done building).

[2020-05-10 04:27] dan-v commented on #159
lol nice - I was just typing that in my terminal. you're quick @scott-8!

[2020-05-10 04:34] dan-v commented on #159
i'll make that change and push a new release; i was hoping the last duct tape fix would hold a bit longer than this, but apparently google really doesn't want me to parse that page.

anyways, my plan is to just move to a manually updated file with all of this information updated each month (https://github.com/dan-v/rattlesnakeos-stack/issues/153). i really wanted it to be auto updating, but withou

[2020-05-10 04:39] scott-8 commented on #159
Yeah it would be great if it were auto updating, but at this point it takes way more time just to fix it each month.

[2020-05-10 06:02] dan-v commented on #153
@pgera / @scott-8 - my current plan is to also put fdroid and chromium versions in this repo in addition to AOSP build/tag. here's the current layout: https://github.com/RattlesnakeOS/latest. let me know if you have any feedback on that.

[2020-05-10 06:14] pgera commented on #153
Looks good. Since chromium updates about twice a month, it may become cumbersome to test/update the tags that often. Is the plan to update everything once a month at release time ?

[2020-05-10 06:16] dan-v commented on #153
@pgera - yeah, I was planning on updating once a month at release time, and maybe if there was some important update it could be updated out of band.

[2020-05-10 06:47] #153 closed

[2020-05-10 14:23] laamalif commented on #159
ERROR: Unable to get latest F-Droid version details. Stopping build.

[2020-05-10 14:23] laamalif commented on #159
[code]

[2020-05-10 15:53] dan-v commented on #159
@laamalif - I haven't pushed a new release yet. I also found out the android-prepare-vendor was affected by this and have pushed a fix for that (https://github.com/RattlesnakeOS/android-prepare-vendor/commit/0459797b5333803956e3f6d93449f60397affba6) as well. Once I get a successful build, I'll push a new release. I'll re-open this for now for visibility.

[2020-05-10 16:22] scott-8 commented on #159
@dan-v was just about to comment this! I'll let you know how my build goes.

[2020-05-10 17:32] dan-v commented on #159
@scott-8 - i just finished my build successfully, but let me know if you bump into anything. i pushed a new release now.

[2020-05-10 19:03] scott-8 commented on #159
I had `repo init` fail once but I tried again and it was successful.

[2020-05-10 20:30] dan-v commented on #159
@scott-8 - any chance you have the error it threw on repo init? could put that in a retry, but not sure if it retries nicely if it did a partial init or something.

[2020-05-10 20:57] scott-8 commented on #159
@dan-v here's the email, let me know if you want full log

[code]

[2020-05-10 21:19] dan-v commented on #159
thanks @scott-8 - that error definitely looks retry-able. i added a retry (https://github.com/dan-v/rattlesnakeos-stack/commit/4eba30a9db8a9ca9c366ae2bb73cd6350776b992) and i'll push it in future release. there's probably a bunch of additional places where retries would be beneficial, but not going to tackle that right now.

[2020-05-10 22:13] scott-8 commented on #159
This is the first time I've found anything that could be fixed with a retry, so it's probably safe to just wait any see if anything like that happens again

[2020-05-13 00:54] #159 closed

[2020-05-24 16:00] ddxor opened #161 "`instance-regions` should respect `region` config variable"
**Is your feature request related to a problem? Please describe.**
I created a key in `eu-west-1` and set `eu-west-1` as my region in `config`. I tried to run a build, and it failed because my instance was spun up in a `us-west-` region.

**Describe the solution you'd like**
There's a few options-

1. Make it explicitly clear in the documentation that keys must be uploaded to each region specified

[2020-05-24 16:40] dan-v commented on #161
Hi there @ddxor. I do have the step listed in the `Prerequisites` section to generate a key in all regions, so let me know if there is a way to make that more clear. I never got around to automating that step completely, but I think it makes sense to streamline this a bit to avoid confusion.

[2020-05-24 18:49] ddxor commented on #161
I probably skimmed the `Prerequirites` section in all honesty. I will look to work up a solution, maybe a check at the `deploy` stage. I will put up a PR when I have something to show.

[2020-05-24 19:13] dan-v commented on #161
@ddxor - would love a PR for a check in the deploy stage. Thanks!

[2020-06-02 02:30] dan-v opened #162 "aosp-branch and aosp-build flags no longer working"
This was broken in 10.0.8 and needs to be fixed.

[2020-06-19 04:45] #162 closed

[2020-06-19 04:46] #158 closed

[2020-08-11 02:58] dan-v opened #163 "Add carriersettings-extractor to build process"
https://github.com/daradib/carriersettings-extractor

"Android Open Source Project (AOSP) includes APN settings (apns-full-conf.xml) and carrier settings (carrier_config_*.xml + vendor.xml) in human-readable XML format. However, Google Pixel device images instead include APN and carrier settings as binary protobuf files for use by the CarrierSettings system app.

This script converts the CarrierSe

[2020-08-17 05:56] dan-v opened #164 "Add RunInstances/CreateTags permissions to Lambda role - changes on 8/30/2020"
"We are constantly working to increase the level of control our customers have over their resources, and the security of those resources. We are contacting you because one or more AWS IAM roles within your AWS account recently used the EC2 Spot Fleet service. As of August 30, 2020, the Spot Fleet service will require explicit permission to use EC2's RunInstances and CreateTags APIs, which are requ

[2020-08-24 08:43] Lacxp opened #165 "Pixel 2 (walleye) bootloop with microG"
### Prerequisites

* [X] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [X] I am able to reproduce this issue without any advanced customization options (since I put only one patched playstore in system-privapp)

### Description

Hi guys,
Yesterday I got myself finally to make ROS for a Pixel 2 (walleye). I used the dan-v microg re

[2020-08-28 03:52] dan-v opened #166 "Allow specifying build type (e.g. user, userdebug)"
This can be useful for debugging issues.

[2020-08-28 03:53] dan-v commented on #165
Hi @Lacxp! I don't have a walleye device to test against, but I'd definitely recommend building without any patches as a starting point and then add back patches one by one. Unfortunately right now there really isn't a great way to build and test out custom patches in a sane way and the turn around time for testing is a full build which takes a ton of time. Also being able to create a userdebug bu

[2020-08-28 04:02] #164 closed

[2020-08-28 07:07] Lacxp commented on #165
Thanks so much Dan! When I'll have time I work it out 😉

[2020-08-30 11:21] lambdadog opened #167 "Rebuild after changing patches, even without AOSP update"
**Is your feature request related to a problem? Please describe.**
When editing my patches, prebuilts, etc. I'm required to force a build for the changes to take. Not only does this require everything to rebuild, which is unnecessary when only patching AOSP, it's a confusing flow that may cause a less user-facing patch that's added to be assumed to be installed but instead not be at all, if AOSP h

[2020-08-30 17:36] dan-v commented on #167
Hi @lambdadog, thanks for the feature request. The issue of patch and prebuilt modifications not counting as changes for a build is covered in #77. The other part of your request dealing with only rebuilding a portion of AOSP when patching, unfortunately doesn't work in this world as AOSP is fully synced from scratch and built every time. It is done this way to avoid the costs of having to store >

[2020-09-07 10:55] david-collett opened #168 "OTA s3 uploads fail after build"
### Prerequisites

* [x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [x] I am able to reproduce this issue without any advanced customization options

### Description

I am consistently finding that OTA files are not appearing on s3 following a build (but target and factory files do).
At first I thought that perhaps rattlesnake-

[2020-09-07 22:25] dan-v commented on #168
Thanks for reporting this issue @david-collett. This is definitely a strange one; I have never seen this issue before and I'm not able to reproduce. Could you share what region you have setup your stack in? It appears to be failing on any of the s3 copy commands that are configuring public ACLs. Could you double check that you don't have any 'Block public access' settings enabled here: https://s3.

[2020-09-08 00:04] david-collett commented on #168
Hi Dan,
Nothing is blocked in that link specifically (i.e. the release bucket).

However I found that all public access is blocked at the account level ("Block public access (account settings)" on the left)!
That would explain it! and also why I can see update checks are failing in adb logcat.
What should these (account-wide) settings be? Can I assume if I turn off block public access, buckets are

[2020-09-08 03:10] dan-v commented on #168
@david-collett - that's quite interesting! How new is your AWS account? I'm wondering if for new accounts they have it default to block all public access now? You should be fine flipping that global setting off; I have only enabled public access on very specific files in the stack, namely the OTA update files and the metadata files used for update checking. I'll need to read up a bit more on the g

[2020-09-08 04:32] david-collett commented on #168
The account is not new, but is it's shared with some other developers so perhaps it was turned off manually at some point.
I can confirm that builds are working now and producing the ota zip file in s3.
Thanks for your help.

[2020-09-08 05:36] dan-v commented on #168
No worries - glad you got it worked out.

[2020-09-08 05:36] #168 closed

[2020-09-08 05:36] #167 closed

[2020-09-12 20:18] MaxwellDPS opened #169 "Option to Build Locally"
# Build Locally
From a security standpoint and banging my head on the wall trying to build a release AOSP, would it be possible to add the option to build locally

**Describe the solution you'd like**
A flag or config way to have Rattlesnake OS build able locally

**Describe alternatives you've considered**
I have tried to build stock AOSP, with little success beyond Debug builds

[2020-09-12 20:52] dan-v commented on #169
Hi @MaxwellDPS - this is a duplicate of #42. It's definitely one of the most requested features, but to do it in a nice way would require some major redesign, which I don't have time to do. An alternative you can check out is: https://github.com/hashbang/aosp-build.

[2020-09-12 20:52] #169 closed

[2020-09-22 20:08] ddxor opened #172 "Authenticate with git+googlesource.com to avoid rate limiting"
**Is your feature request related to a problem? Please describe.**
I found various entries in my `/var/log/clout-init-output.log` related to hitting rate limiting on googlesource.com. Specifically, I hit limits at the `aosp_repo_sync` method. E.g:

`error: RPC failed; HTTP 429 curl 22 The requested URL returned error: 429 Too Many Requests
fatal: The remote end hung up unexpectedly`

**Describe th

[2020-09-25 03:52] dan-v commented on #172
@ddxor - I believe I attempted the gitcookies approach before, and ended up getting rate limited even worse. The only real approach to avoid the rate limiting would be to reduce the sync threads, which maybe there is a sweet spot that avoids 429s that might slightly improve download time. I think the last time I looked at timing it took about 10 minutes to sync, which seems fairly quick considerin

[2020-09-25 03:57] #142 closed

[2020-09-25 03:58] dan-v commented on #125
deprecated attestation server

[2020-09-25 03:58] #125 closed

[2020-09-25 03:58] dan-v commented on #123
deprecated attestation server

[2020-09-25 03:58] #123 closed

[2020-09-25 08:34] ddxor commented on #172
Funnily enough I only ran into this issue when I used a `c5a.16xlarge` instance, so it's quite possible that this only becomes an issue if you have a beefier server without enough network/IO to trigger a 429. (warning: anecdotal information!)

I will look into this further.

[2020-10-03 05:07] dan-v commented on #165
Gonna close this out, feel free to re-open if you're able to track this down to an issue without custom patches.

[2020-10-03 05:07] #165 closed

[2020-10-03 05:47] #152 closed

[2020-10-12 17:53] MalteKiefer opened #173 "Build not started"
### Prerequisites

* [x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [x] I am able to reproduce this issue without any advanced customization options

### Description

Hi,

I tried to start an instance with this config:

[code]

I have done this steps:

[code]

I have got this mail:

[code]

This was for 8 hours. Since then noth

[2020-10-12 18:47] khimaros opened #174 "2-button system navigation no longer available with 11.0 build"
### Prerequisites

* [x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack

testing this with 11.0.3 now, this report is for a release built with 11.0.1.
edit: verified with version 11.0.3 as well.

* [x] I am able to reproduce this issue without any advanced customization options

please let me know if you need me to test without the s

[2020-10-13 03:33] dan-v commented on #174
@khimaros - interesting, I don't use the 2 button nav so I didn't realize. Looks like they removed it from being enabled by default here: https://android.googlesource.com/platform/frameworks/base/+/2aa347798732f8ac1a87f0316af7bc345f2c184a.  I'll think about whether I want to pull this in to default build.

[2020-10-13 03:45] dan-v commented on #173
@MalteKiefer - it is possible there was no spot instance availability. If you go into the EC2 AWS console after starting a build, you can go to Spot Intances page and you should be able to see the status of your spot request. Generally spot instance requests get immediately fulfilled, but depending on how much capacity AWS has available for a certain instance type in a certain region or AZ, it may

[2020-10-13 04:24] MalteKiefer commented on #173
Thanks.
Changed the type and it started immediately.

[2020-10-13 04:24] #173 closed

[2020-10-13 18:06] khimaros commented on #174
@dan-v thank you for the reply and digging into the root cause. is there a recommended way for users to add to LOCAL_REQUIRED_MODULES with the ROS config?

[2020-10-17 06:48] dan-v commented on #174
@khimaros - there was a community patch contribution by @losuler for adding 2 button navigation back: https://github.com/RattlesnakeOS/community_patches/tree/11.0

e.g.
[code]

[2020-10-17 06:48] #174 closed

[2020-10-22 18:52] madelponte opened #175 "Walleye builds failing on 11.0.3"
### Prerequisites

* [x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [x] I am able to reproduce this issue without any advanced customization options

### Description

Builds fail on 11.0.3 but work fine on 11.0.2

### Steps to Reproduce
Ran builds with this config on 11.0.2 and had a successful build.
Same config on 11.0.3 and

[2020-10-22 20:21] dan-v commented on #175
@madelponte - thanks for reporting this issue and providing logs. I'll get this fixed and release a new version soon.

[2020-10-23 03:28] #175 closed

[2020-10-26 07:25] davebooi opened #176 "adding account via settings fails"
**Expected behavior**
wizard to add account (i.e. Gmail for FairEmail) to appear.

**Actual behavior**
screen remains blank and "add account" wizard does not appear.

**Steps to reproduce**
1. open settings
2. open Accounts tab
3. click on Add account

**Specifications**
Stack Version: 11.0.4
Platform: Android 11

[2020-11-16 10:34] Rudd-O commented on #176
This is not a RattlesnakeOS problem.  Please move this to the FairEmail bug tracker.  Thanks.

[2020-11-16 17:17] davebooi commented on #176
It actually is the AOSP which does not support adding accounts, will close this.

[2020-11-16 17:17] #176 closed

[2020-11-29 08:58] davze commented on #129
Is it possible to include a custom kernel repo atm?

[2020-11-29 19:57] dan-v commented on #129
Not currently. There was some work contributed to enable this in the 10.0 branch, but it was never fully tested or turned on and I ripped it out for 11.x. I'd be happy to take a PR that enables custom kernel building though.

[2021-01-19 11:20] ProjectMoon opened #179 "Adding "Pixel Experience" file to build process"
I would like to add the necessary ["Pixel Experience" XML file](https://review.calyxos.org/c/CalyxOS/vendor_calyx/+/1837) to the build process so updated versions of Google Camera work. I don't really have an idea as to how I'd go about adding this to the build process. I assume it would be in a way similar to the way custom boot animations are handled?

I created the issue here because I couldn't

[2021-01-25 14:46] coxtor opened #180 "Support for Pixel 4a 5G Bramble"
**Is your feature request related to a problem? Please describe.**
The Pixel 4a 5G is not supported.
**Describe the solution you'd like**

Support for Pixel 4a 5G, Bramble.

**Additional context**
After support for Pixel 5, Redfin, has been merged #178 is support for the 4a 5G possible now ?

[2021-01-30 22:28] dan-v commented on #180
@coxtor - there is support for Pixel 4a 5G in android-prepare-vendor now (https://github.com/AOSPAlliance/android-prepare-vendor/commit/4e3aea63bd5b16b409cce34538b218b186654f5e). Happy to take a PR from anyone on adding the boilerplate code/templates updates to rattlesnakeos-stack, otherwise I'll probably add support for it myself in the near future.

[2021-02-09 10:40] ddxor opened #181 "Pixel 5 support"
I'm raising this feature request to gather insight into the tasks required to bring Pixel 5 support to the project.

Do we have any information on what would be required to make this happen?

[2021-02-09 10:42] ddxor commented on #181
I've just found this PR which was merged to support P5. I'll close this for now.

https://github.com/dan-v/rattlesnakeos-stack/pull/178

[2021-02-09 10:42] #181 closed

[2021-02-27 12:09] coxtor commented on #180
I'd be glad to help, however I am not familiar with the process - is it sufficient to replicate the changes #178 in and adjust the lines accordingly for bramble?

[2021-02-27 16:23] dan-v commented on #180
Hi @coxtor! Indeed, it is sufficient to just replicate those changes. The only other change is adding the device to the [latest](https://github.com/RattlesnakeOS/latest/blob/11.0/latest.json) repo. I'd hold off though as I have a pretty large set of changes coming soon, and I have already added support for Pixel 4a 5G as part of those changes.

[2021-03-01 08:03] #47 closed

[2021-03-01 08:03] #129 closed

[2021-03-01 08:03] #180 closed

[2021-03-01 08:04] dan-v commented on #150
This will now be possible by using the new core config repo option and just not including F-Droid.

[2021-03-01 08:04] #150 closed

[2021-03-01 08:05] #163 closed

[2021-03-01 08:05] dan-v commented on #146
Closing this, may reconsider this if aosp-build is ever revived.

[2021-03-01 08:05] #146 closed

[2021-03-01 08:06] dan-v commented on #135
Not going to add this as part of core.

[2021-03-01 08:06] #135 closed

[2021-03-01 08:07] dan-v commented on #179
Now possible with custom config option once it's released. https://github.com/RattlesnakeOS/example-custom-config-repo has an example with it being added.

[2021-03-01 08:07] #179 closed

[2021-03-01 08:08] #134 closed

[2021-03-01 08:08] #72 closed

[2021-03-01 08:11] dan-v commented on #99
Next release will use custom config repos rather than these previous options that are now deprecated. https://github.com/dan-v/rattlesnakeos-stack/#customizations.

[2021-03-01 08:11] #99 closed

[2021-03-01 08:11] dan-v commented on #100
Next release will migrate to custom config repos: https://github.com/dan-v/rattlesnakeos-stack/#customizations.

[2021-03-01 08:11] #100 closed

[2021-03-01 08:13] dan-v commented on #172
Closing this out. Feel free to re-open if this does help with rate limiting.

[2021-03-01 08:13] #172 closed

[2021-03-01 08:22] #104 closed

[2021-03-03 13:28] coxtor opened #183 "BUG Current release crashes during config creation"
### Prerequisites

* [x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [x] I am able to reproduce this issue without any customization options

### Description
When running the current rattlesnakeos-stack release it is not possible to create a config, the application terminates with the error "FATA[0010] failed to write config fil

[2021-03-03 15:26] #183 closed

[2021-03-03 15:29] dan-v commented on #183
Thanks for the report @coxtor! I'll push out a new release in a few.

[2021-03-05 18:41] coxtor opened #184 "Support: Custom Builds"
### Prerequisites

* [ x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [ x] I am able to reproduce this issue without any customization options

### Description
Hello, I have successfully built Rattlesnakeos for my bramble. However, I am having issues including microg. I have modified my configfile to the following:

`chromium-bu

[2021-03-05 19:56] dan-v commented on #184
@coxtor - did you run 'deploy' after updating your config file? This is a common issue that isn't very obvious and one that I need to clean up still. After running deploy then you can 'build' and you should get these changes. Also, while using the example repo will work, I'd still recommend forking the repo and making your own, otherwise you might pick up changes added to the example repo in the f

[2021-03-10 05:39] scott-8 opened #185 "Error deploying on Windows"
### Prerequisites

* [x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [x] I am able to reproduce this issue without any customization options

### Description

After switching to 11.0.8, I get an error when trying to deploy on Windows.

[code]

The line in question in `main.tf` is `   default     = "D:\Code\output_rattlesnakeos-x

[2021-03-10 17:13] scott-8 commented on #185
@dan-v can we reopen this? I'm getting this in the build log, presumable because newlines in Windows are `\r\n`. Not sure where the best place to fix this would be. I manually changed the newlines in `build.sh` to `\n` and it got past this part.

[code]

[2021-03-10 18:09] dan-v commented on #185
Reopened. Ah, did not consider this. Sorry I don't have a Windows box, so mostly just hoping it worked. I'll spin up a Windows host on AWS when I get a chance and work through the issues. Happy to take more PRs as well though.

[2021-03-11 04:48] #185 closed

[2021-03-21 13:29] marmarek opened #188 "Restore the option for encrypted signing keys"
**Is your feature request related to a problem? Please describe.**
https://github.com/dan-v/rattlesnakeos-stack/pull/182 removed support for encrypted keys. As explained in https://github.com/dan-v/rattlesnakeos-stack/issues/71, encrypted keys protect against the simplest of attacks on them (fully passive, including things like leaking S3 bucket content etc).

**Describe the solution you'd like**

[2021-03-21 16:16] dan-v commented on #188
Thanks @marmarek for adding this! I wasn't sure if anyone was actually using this feature to be honest. I'd love to bring this back, but maybe in a simplified way. If you're on Matrix feel free to stop in ros.matrix.org and we could chat. If not, we can just drop ideas here on how to restore this feature.

[2021-04-21 11:05] losuler opened #189 "Signature doesn't match any trusted key"
### Prerequisites

* [x] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
* [ ] I am able to reproduce this issue without any customization options

### Description

Updating from stack version 11.0.6 (which built RQ1A.210205.004, the February security update) to 11.0.10 (which built RQ2A.210405.005, the April security update) and comp

[2021-04-21 16:48] dan-v commented on #189
hi @losuler. This is indeed because you were using the encrypted keys option which is no longer currently supported (still trying to figure out what i want to do with that, but feel free to add your +1 in https://github.com/dan-v/rattlesnakeos-stack/issues/188). Basically new keys got generated in `<stackname-keys>` which do not match what you are currently using and the OTA update is being reject

[2021-04-22 00:27] losuler commented on #189
Thanks for the help. After I wrote this issue I was looking at the S3 bucket and figured this probably was the case seeing as `stackname-keys` had newly generated keys in them. I'm glad it was just as easy as replacing those files with my decrypted ones. After doing this the rebuild and OTA update applied without error.

Thanks again for all your work on RattlesnakeOS. I really appreciate it.

[2021-04-22 00:27] #189 closed

[2021-05-02 09:07] sal-limones opened #190 "Terraform error on deploy after upgrading from 11.0.6"
OS: Ubuntu Linux 20.10
Stack version: 11.0.10

ubuntu@laptop:~$ ./rattlesnakeos-stack deploy
INFO[0000] using config file: /home/ubuntu/.rattlesnakeos.toml
INFO[0000] Current settings:
chromium-build-disabled: false
chromium-version: ""
cloud: aws
core-config-repo: https://github.com/rattlesnakeos/core-config-repo
core-config-repo-branch: "11.0"
custom-config-repo: ""
custom-config-repo-branch: ""

[2021-05-02 21:23] dan-v commented on #190
@sal-limones - thanks for the bug report! Terraform changed their signing keys due to [a security incident ](https://discuss.hashicorp.com/t/terraform-updates-for-hcsec-2021-12/23570), so I'll need to make a new release with an updated version of Terraform.

[2021-05-02 23:18] #190 closed

[2021-05-02 23:30] dan-v commented on #190
Pushed a new release with this fix @sal-limones: https://github.com/dan-v/rattlesnakeos-stack/releases/tag/v11.0.11.

[2021-05-03 08:10] sal-limones commented on #190
Thanks!

[2021-06-08 16:35] coxtor opened #192 "e-sim support"
**Is your feature request related to a problem? Please describe.**
It would be great to have e-sim support as an option as it requires proprietary components.

[2021-06-10 05:07] lambdadog opened #193 "Allow more detailed modifications to Chromium build"
**Is your feature request related to a problem? Please describe.**
I've recently started using the Vanadium patches as noted in the [example-custom-config-repo](https://github.com/RattlesnakeOS/example-custom-config-repo/blob/11.0/hooks/build_chromium_pre.sh) repository, but I've run into the issue of Vanadium being built against specific versions of Chromium and the patches not always working unl

[2021-06-13 02:41] dan-v commented on #193
Thanks @lambdadog for the detailed write up here. A number of people just pull in the Vanadium prebuilts rather than building from source; an example of that is here: https://github.com/dan-v/custom-prebuilt. But yeah, building from source I think your issue needs a solution. I'll think on this one a bit.

[2021-10-29 06:38] 9e3fce0a opened #195 "Support for Pixel 6 - Oriole"
Requesting support for Pixel 6 - Oriole. I have one of these devices and can test.

[2021-12-17 02:04] nullchinchilla opened #196 "Problem with android-prepare-vendor"
I "brought my own" APV, but am getting this:

[code]

What's wrong?

[2021-12-17 03:25] dan-v commented on #196
It appears the APV you brought may not be valid. Could you share your config related to APV?

[2021-12-17 14:46] nullchinchilla commented on #196
[code]

[2021-12-17 19:55] dan-v commented on #196
Looks like your `apv-remote` setting just needs to be updated. I haven't really documented or added any error checking for these APV settings as it was quickly thrown in there as a temporary workaround when GrapheneOS decided to start playing licensing games, but happy to take any PRs to clean this up.
[code]

[2021-12-17 22:31] nullchinchilla commented on #196
Thanks! Also, embedding the above lines in the code is very unlikely to be a licensing violation. see `msttcorefonts-installer` and similar things

[2022-01-09 00:31] IamJeffG opened #197 "No space left on device - build failure"
### Prerequisites

* [x] I am running 12.0.3
* [ ] I am able to reproduce this issue without any customization options
    - I didn't try this, so feel free to push back.  [My customization are pretty standard, and do include microg](https://github.com/IamJeffG/rattlesnake-custom-config-repo)

### Description

My January build for blueline failed with

    cp: error writing 'tmp/blueline-sp1a.2108

[2022-01-09 01:23] dan-v commented on #197
hi @IamJeffG - yeah that looks like it's probably a real issue; different device builds will use more or less space depending on what is required in the build and also the AOSP tree size is always growing, so it's possibly been on the verge of running out of space for a while and this month just put it over the edge. the link you provided is where the volume size is set. if you are able to edit th

[2022-01-10 00:59] IamJeffG commented on #197
Thanks -- I'll try this and report back.

Current status:

I edited the lambda function in the console, setting the volume to 350 GB.  Deployed the lambda function from the AWS console.

    rattlesnakeos-stack build start --config-file ./path.to/mine.toml

In the AWS console, I verify the volume is in fact 350GB.
Received "RattlesnakeOS Build STARTED" notification message.  Build is in progress..

[2022-01-10 14:32] IamJeffG commented on #197
350GB solved the problem!  Build finished and the update installed on my phone.

[2022-01-22 23:40] #197 closed

[2022-01-23 00:05] ubergeek77 commented on #195
Hey @dan-v , anything we can do to help support the Pixel 6 and Pixel 6 Pro?

[2022-01-24 06:24] dan-v commented on #195
hey @ubergeek77  - i definitely want to support pixel 6 at some point, but i haven't landed on what vendor approach to use. there's a few different options like using the google driver binaries (with a [patch](https://github.com/danielfullmer/robotnix/commit/e3a6b50e9b58d09c2f67953274875ded9aa63204)), using the LineageOS tooling like CalyxOS is doing for 12, using whatever tool GrapheneOS ends up

[2022-01-24 07:41] #196 closed

[2022-01-31 06:20] dan-v commented on #195
need to investigate kdrag0n's new tool for this: https://github.com/kdrag0n/adevtool

[2022-02-02 03:24] 9e3fce0a opened #198 "Option to delay shutdown if there are active SSH sessions"
Pretty frustrating trying to debug an issue only to have the EC2 instance self-destruct.

I've been manually applying this hack to the build.sh script, and it has worked really well for me. I figured I'd share it so that others may benefit...

[code]

[2022-02-02 05:36] dan-v commented on #198
@9e3fce0a - I like the creativity of this solution 👍 . I wouldn't mind something like this as an optional config choice that could be enabled, but probably not the default behavior. I'll mark as a feature request if anyones wants to put up a PR.

[2022-02-07 16:08] #198 closed

[2022-02-12 00:12] 9e3fce0a opened #200 "How to update the 'Update server URL' in Updater?"
### Prerequisites

* [-] I am running the [latest version](https://github.com/dan-v/rattlesnakeos-stack/releases) of rattlesnakeos-stack
   * That's the goal, trying to test it first.
* [-] I am able to reproduce this issue without any customization options
   * Not relevant

### Description

I've been trying to update the Updater's 'Update server URL', but haven't been able to work out a way to d

[2022-02-12 18:03] dan-v commented on #200
hi @9e3fce0a - just dropping a quick note here. the steps you describe _should_ work. i'd recommend double checking the steps to be sure, but when i have some more time i could help debug further.

[2022-03-05 17:10] #41 closed

[2022-03-05 17:10] #42 closed

[2022-03-05 17:10] #43 closed

[2022-03-05 17:10] #71 closed

[2022-03-05 17:10] #77 closed

[2022-03-05 17:10] #86 closed

[2022-03-05 17:10] #92 closed

[2022-03-05 17:10] #108 closed

[2022-03-05 17:10] #112 closed

[2022-03-05 17:10] #139 closed

[2022-03-05 17:10] #161 closed

[2022-03-05 17:10] #166 closed

[2022-03-05 17:10] #188 closed

[2022-03-05 17:10] #192 closed

[2022-03-05 17:10] #193 closed

[2022-03-05 17:10] #195 closed

[2022-03-05 17:10] #200 closed